


<div class="main-content login-social">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Become a member of Might Labs</h4>
                <p class="category">Become a member to get almost every feature ! </p>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                      <div class="centered" fxFlex>
                        <button class="btn btn-danger btn-raised btn-lg" id="twitter" (click)="signInWithTwitter()"><span class="icon-twitter"></span>Continue with Twitter</button>
                      </div>
                      <div class="centered" fxFlex>
                        <button class="btn btn-danger btn-raised btn-lg" id="facebook" (click)="signInWithFacebook()"><span  class="icon-facebook"></span>Continue with facebook</button>
                      </div>
                      <div class="centered" fxFlex>
                        <button class="btn btn-danger btn-raised btn-lg" id="google" (click)="signInWithGoogle()"><span><img src= "../../assets/fonts/google.png" /></span>Continue with Google</button>
                      </div>
                      <span class="error" ></span>
                    </div>
                </div>

                <br>

            </div>
        </div>
    </div>
</div>
