
                  <div class="card-content">
                    <div class="row" *ngIf="showSpinner">
                      <div class="col-md-12">
                        <animated-post></animated-post>
                      </div>
                    </div>
                    <div class="row">

                      <div *ngFor="let dev of devs | async" class=" col-md-6">

                          <div class="card" >
                              <a [routerLink] = "[routeLink + 'post',dev.$key]" href="javascript:void(0)">
                            <div class="card-header card-chart card-bg" data-background-color="post" [ngStyle]="{'background-image':'url('+ instrImg(dev.body) +')'}" >
                                <div class="ct-chart" id="pie1"></div>
                            </div>

                            <div class="card-content">
                              <div class="img-container" [ngStyle]="{'background-image':'url('+ dev.photourl +')'}"></div>
                                <h4 class="title">{{dev.title}}</h4>
                                <p class="category">
                                  {{ (dev.body.length>50)? (dev.body | slice:0:50)+'..':(dev.body) }}
                                </p>
                            </div>
                          </a>
                            <div class="card-footer">
                                <div class="stats pull-left">
                                    <i class="material-icons">person</i> posted by {{dev.username}}
                                </div>
                                <div class="btn-thumbs">
                                  <button (click)="hearts(dev.$key,dev.uid,dev.hearts)" class="btn btn-circle btn-simple btn-just-icon btn-raised"><i class="material-icons">thumb_up</i>&nbsp;{{dev.hearts}}</button>
                                </div>
                            </div>
                          </div>

                        </div>


                      </div>
