
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Huge community of discussions and knowledge</h4>
                        <p class="category">Go to any section and enjoy</p>
                    </div>
                    <div class="card-content">
                      <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    	<li  class="active">
                    		<a href="javascript:void(0)" [routerLink]="['./programming']" role="tab" >
                    			<i class="material-icons">code</i>
                    			Devs / Coding
                    		</a>
                    	</li>
                    	<li>
                    		<a href="#schedule" role="tab" [routerLink]="['./gaming']" >
                    			<i class="material-icons">gamepad</i>
                    			Gaming
                    		</a>
                    	</li>
                    	<li>
                    		<a href="#tasks" role="tab"  [routerLink]="['./exploits']">
                    			<i class="material-icons">security</i>
                    			Security/Virus/Exploits
                    		</a>
                    	</li>
                      <li>
                    		<a href="#tasks" role="tab"  [routerLink]="['./concepts']">
                    			<i class="material-icons">layers</i>
                    			Technology Concepts / Ideas
                    		</a>
                    	</li>
                      <li>
                    		<a href="#tasks" role="tab" [routerLink]="['./mechanical']">
                    			<i class="material-icons">theaters</i>
                    			Mechanical Engineering / Automobiles
                    		</a>
                    	</li>
                      <li>
                    		<a href="#tasks" role="tab"  [routerLink]="['./nature']">
                    			<i class="material-icons">wb_sunny</i>
                    			Nature/Meditation/Relaxation
                    		</a>
                    	</li>
                    </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
