<div class="main-content">
    <div class="container-fluid">
      <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-testimonial" data-background-color="red">
                      <button [routerLink]="['../']"  class="btn goback btn-simple pull-left btn-just-icon pull-left" ><i class="material-icons">keyboard_backspace</i></button>

                        <h4 class="title">Create a Post / Gist on Forum</h4>
                        <p class="category">Read the Guidelines for creating a gist /post</p>
                    </div>
                          <div class="card-content">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group form-black is-empty">
                                      <label class="control-label">Give a suitable Title to display</label>
                                      <input placeholder="Your Title of Post" class="input form-control"
                                      [(ngModel)]="game.title"
                                      required minlength="10" maxlength="65"
                                      #title='ngModel' autofocus required>
                                  </div>
                                </div>
                              </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group form-black  is-empty">
                                            <label class="control-label">Elaborate/Extend/Explain your content here</label>
                                            <textarea (keyup) = "updatePost($event)" [(ngModel)]="game.body"  class="form-control" rows="10" required minlength="20" maxlength="5000"
                                            #body='ngModel'></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="title.dirty || body.dirty">
                              <span *ngIf='(title.errors || body.errors); then errors else valid'>template renders here...</span>
                            </div>

                            <button class="btn btn-lg btn-primary" (click)="createGame()"  [disabled]="!title.valid || !body.valid">Create a post</button>
                            <div [class.pull-right]="isPC()">
                              <button class="btn btn-circle btn-just-icon " (click)='url()' > <i class="material-icons">insert_link</i></button>
                              <button class="btn btn-circle btn-just-icon " (click)='youtube()' > <i class="material-icons">subscriptions</i></button>
                              <button class="btn btn-circle btn-just-icon " (click)='coding()' > <i class="material-icons">code</i></button>
                              <button class="btn btn-circle btn-just-icon" (click)='image()' > <i class="material-icons">insert_photo</i></button>





                            </div>
                            <ng-template #valid>
                              <p class="help is-success">Everything Looks good </p>
                            </ng-template>

                            <ng-template #errors>
                              <p class="help is-danger">Guidelines :</p>
                              <p><label>Title must be between 10 and 65 letters</label><br>
                                  <label>Body of post must be between 100 and 5000 letters</label>
                              </p>
                            </ng-template>

                          <div class="row">
                            <div class="col-md-12">
                              <h3>Post Preview</h3>
                              <h4>{{game.title}}</h4>
                              <div [innerHTML]="this.enc.body | safeHtml"></div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
