<div class="landing-page">


<div class="header header-filter bg" style="background-image: url('../../assets/img/dash.jpg');margin-top:67px;color:#fff">
            <div class="container">
                <div class="row">
          <div class="col-md-6" style="margin-top: 100px;" @explainerAnim>
            <h1 class="title col" >Welcome to Might Labs</h1>
                      <h4 class="col">Learning Today ...</h4>
                      <h5 class="col">Leading tomorrow ...</h5>
                      <h6 class="col">No one should be left behind ...</h6>
                      <br>
                      <a href="javascript:void(0)" class="btn btn-danger btn-raised btn-lg">
              <i class="fa fa-play"></i> Watch video
            </a>
          </div>
                </div>
            </div>
        </div>
</div>
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header" data-background-color="red">
                      <h4 class="title">About Might Labs </h4>
                      <p class="category">Our Initiative</p>
                  </div>
                  <div class="card card-content">
                    <p>Providing a platform and medium to connect and help each other , making our life easier . Using smartphone is obsolete without productive and efficient tools & apps. We want to support programmers and developers , or any creative idea in the best way . </p>
                    <p>Rankings and achievements will allow any student to present their knowledge , experience and skills in a certain platform. Recruiting companies can directly refer here for his/her performance overall in the platform of many other helpers . Lets make it live .</p>
                    <p>Stared in <span class="label label-danger">North East</span> ,  we are trying to change the way of approaching studies using digitized means so it results more productive . We will keep improving the firm and infrastructure as well. </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid" *ngIf="false">
    <div class="row">
    <div class="col-md-6">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="../assets/img/faces/akkn.jpg" />
                </a>
            </div>

            <div class="content">
                <h6 class="category text-gray"> Co-Founder</h6>
                <h4 class="card-title">Bk Akshay</h4>
                <p class="card-content">
                    To survive and thrive in this turbulent world we need peace and power,  that comes from deep inner contentment . I'm a Geek when it comes to web platform, computing and exploiting. Developed this website with peace and power directly from up above .</p>
                <a href="http://www.facebook.com/007x3l4g" target="_blank" class="btn btn-danger btn-round">Follow</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="../assets/img/faces/ujjal.jpg" />
                </a>
            </div>

            <div class="content">
                <h6 class="category text-gray"> Co-Founder</h6>
                <h4 class="card-title">Ujjal DME</h4>
                <p class="card-content">
                  Hi, Myself Ujjal chettri . I prefer easy work rather hard work . Because i believe providing smart and creative ideas of education is worth the technology uprising . Any leader was once a beginner hence beileve in yourself . Work hard and grab the opportunity.
                  </p>
                <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
            </div>
        </div>
    </div>


  </div>
  </div>

  <div class="card card-plain">

  <div class="card card-content">

    <label></label>
    <p>Ref Contact : <a href="mailto:admin@mightlabs.org">admin@mightlabs.org</a></p>
    <p>Helpers and well wishers from Bks made this launch possible .</p>
    <a href="http://www.brahmakumaris.org">www.brahmakumaris.org</a>
    </div>
  </div>
</div>
