<div class="row">
  <div class="col-md-6">
    <div class="content">
      <div class="animation_wrapper">
          <div class="animated_background">

                <div class="background-mask header-top"></div>
                <div class="background-mask header-left"></div>
                <div class="background-mask header-right"></div>
                <div class="background-mask subheader-left"></div>
                <div class="background-mask subheader-right"></div>
                <div class="background-mask bottom-left"></div>
                <div class="background-mask bottom-right"></div>
                <div class="background-mask header-bottom"></div>
                <div class="background-mask header-bottom-1"></div>
                <div class="background-mask header-bottom-2"></div>

          </div>
      </div>
      <div class="squared_image">
        <i class="material-icons">panorama</i>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="content">
      <div class="animation_wrapper">

          <div class="animated_background">
            <div class="background-mask header-top"></div>
            <div class="background-mask header-left"></div>
            <div class="background-mask header-right"></div>
            <div class="background-mask subheader-left"></div>
            <div class="background-mask subheader-right"></div>
            <div class="background-mask bottom-left"></div>
            <div class="background-mask bottom-right"></div>
            <div class="background-mask header-bottom"></div>
            <div class="background-mask header-bottom-1"></div>
              <div class="background-mask header-bottom-2"></div>
          </div>
      </div>
      <div class="squared_image">
        <i class="material-icons">panorama</i>
      </div>
    </div>
  </div>
</div>
