<div class="card card-profile" >
    <div class="card-avatar">
            <i class="material-icons">person</i>
    </div>

    <div class="content">
      <div class="animation_wrapper">
          <div class="animated_background">
            <div class="background-mask header-top"></div>
            <div class="background-mask header-left"></div>
            <div class="background-mask header-right"></div>
            <div class="background-mask subheader-left"></div>
            <div class="background-mask subheader-right"></div>
            <div class="background-mask bottom-left"></div>
            <div class="background-mask bottom-right"></div>
            <div class="background-mask header-bottom"></div>
          </div>
      </div>
    </div>
</div>
