.sidebar .logo-img img, .off-canvas-sidebar .logo-img img {
    width: 92px !important;
    top: -4px !important;
    position: relative !important;
}
label.title{
  font-size: 1em;
    color: #f44336;
    font-weight: 100;
    text-transform: capitalize;
}
.sidebar .logo-img, .off-canvas-sidebar .logo-img {
     width: inherit !important;
    display: inline-block;
     max-height: auto !important;
    margin-left: 10px;
    margin-right: 15px;
}
