.header{
  margin-top: 70px;
      color: #fff;
      min-height: 310px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
}

.header .content{
  position: absolute;
  bottom: 5px;
  text-shadow: 1px 2px 5px rgba(0,0,0,.5);
  padding: 36px 19px;
}

@media (max-width: 768px){
  .main-raised {
    margin: -60px 7px 0px !important;
  }
  .section{
    font-size: 1em !important;
  }
  .btn-thumbs{
    top: 68px !important;
  }
}
.main-raised {

    margin: -60px 12px 0px;
    border-radius: 6px;
}
.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

.section{
  padding: 50px 10px;
  font-size: 1.3em;
  line-height: 2em;
  h5{
      line-height: 2em;
  }
}

.ctr{
    word-spacing: 1px;
    white-space: pre-wrap;
}
.img-container{
  padding: 28px;
  margin: 0 15px 0 0;
  background:radial-gradient(#b7b5b5,#736d6d);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  box-shadow: 1px 2px 10px #999999;
  border-radius: 50%;
}

.intro{
  padding: 20px;

  label#user{
    position: absolute;
    line-height: 2;
    top: 22px;
    color: #8a8888;
  }
}
.btn-thumbs{
  position: absolute;
  right: 3%;
  button{
    color: #8a888b;
  }
}
.btn-thumbs .material-icons{
  font-size: 24px;
}

.img-responsive{
margin: 20px;
}

code{
  white-space: pre-wrap;
    font-size: small;
    line-height: 1px !important;
}

.goback{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.goback i {
  font-size: 1.42em;
  color: #fff;
}
