<div class="">

<div class="header-cover" style="background-image:url('')">

</div>
<div class="user-wrapper">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 p-10">
      <img class="img-circle" style="" [src]="userObj.Photo || '../../assets/img/user.png'" />
      <h3>{{userObj.Name}}</h3>
      <div class="clearfix" style="clear:left">

      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <router-outlet name = 'about'></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

  </div>
</div>


</div>
